---
// src/components/Ads.astro
const { type } = Astro.props;
---

<div class="ad-safe-container">
  <p style="font-size: 10px; color: gray; text-align: center; margin: 0;">Ad</p>
  <div class="ad-content">
    {type === 'horizontal' && (
      <div class="admax-switch" data-admax-id="ae858bf51ea81ba7e5d8c491dbc3d627" style="display:inline-block;"></div>
      <script is:inline type="text/javascript">
        (window.admaxads = window.admaxads || []).push({admax_id: "ae858bf51ea81ba7e5d8c491dbc3d627", type: "switch"});
      </script>
    )}
    {type === 'square' && (
      <div class="admax-switch" data-admax-id="c68c880288e59ed7ade0e94d250be6c9" style="display:inline-block;"></div>
      <script is:inline type="text/javascript">
        (window.admaxads = window.admaxads || []).push({admax_id: "c68c880288e59ed7ade0e94d250be6c9", type: "switch"});
      </script>
    )}
    {type === 'vertical' && (
      <div class="admax-switch" data-admax-id="daba29522a811c8f83b60fcc4e941252" style="display:inline-block;"></div>
      <script is:inline type="text/javascript">
        (window.admaxads = window.admaxads || []).push({admax_id: "daba29522a811c8f83b60fcc4e941252", type: "switch"});
      </script>
    )}
    <script is:inline type="text/javascript" charset="utf-8" src="https://adm.shinobi.jp/st/t.js" async></script>
  </div>
</div>

<style>
  .ad-safe-container {
    width: 100%;
    overflow: hidden;
    margin: 1rem 0;
  }
  .ad-content {
    display: flex;
    justify-content: center;
    max-width: 100%;
    min-height: 90px; /* 枠崩れ防止 */
  }
</style>
